@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin order($order) {
	-webkit-order: $order;
    -ms-flex-order: $order;
    order: $order;
}

@mixin justifycontent($justify) {
	-webkit-box-pack: $justify;
    -webkit-justify-content: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
}

@mixin alignitems($align) {
	-webkit-box-align: $align;
    -webkit-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

@mixin flexgrow($grow) {
	flex-grow: $grow;
	-webkit-box-flex: $grow;
    -webkit-flex-grow: $grow;
    -ms-flex-positive: $grow;
}

@mixin boxsizing {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
} 

@mixin flexdirection {
	flex-direction: column;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}